body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: url("https://images.unsplash.com/photo-1532298488760-970ff6decf61") no-repeat center center fixed;
  background-size: cover;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: rgba(255, 255, 255, 0.95);
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
  width: 100%;
  max-width: 400px;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-card label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
  font-size: 14px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background-color: #0077ff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-card button:hover {
  background-color: #005ccc;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.register-link {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}
.register-link a:hover {
  text-decoration: underline;
}
